include vars/myVars
doctype
html
    head
        meta(charset="utf-8")
        title The Page
    body
        div(class=className)
            h1 Mohmad Gamal

        div(class=className)
            h2 Mohmad Gamal

        div(class=className)
            h3 Mohmad Gamal
            p= 'I Love <strong> Test </strong>'
            p= 'I Love <strong> Test </strong>'
            p= 'I Love <strong> Test </strong>'
            p= 'I Love <strong> Test </strong>'
            p= 'I Love <strong> Test </strong>'
    
    
    