doctype
html
    head
        meta(charset="utf-8")
        title Page 1
        link(href="" , rel="")
    body
        //- This Wright ==> div By Default
        .main
        #main
        div(class="main" , id="main")
            p(class="main") I Love
                |
                |
                //- [ . ] ==> This For ==>[ class="" ]
                b.main pugjs
                |  And
                |
                //- # ==> This For ==>[ id="" ]
                b#main Sass
        div
            img(src="" , alt="")
        form
            h2.main  Contact 
            input(
                class="f-c",
                type="text",
                name="user",
                style={'background-color':'red' , 'color':'white'}
                )

            input(
                class="f-c",
                type="email",
                name="email",
                style={'background-color':'red' , 'color':'white'}
                )

            input(
                class="f-c",
                type="text",
                name="user1",
                style={'background-color':'red' , 'color':'white'}
                )
            //- You Can Wright Style As Object
            button(style={'background-color':'red' , 'color':'white'})  Send 






