//- Start Navbar
nav(class="navbar navbar-expand-lg navbar-light bg-light")
	.container
		a(class="navbar-brand" href="#")
			span.fBold Awesome
			span /Cars
		button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon

		div(class="collapse navbar-collapse" id="main")
			ul.navbar-nav.ml-auto
				li(class=`nav-item ${pageTitle === 'HomePage' ? 'active' : ''} `)
					a(class=`nav-link fBold ` href="../home/homepage.html") Home
				li(class=`nav-item ${pageTitle === 'KivPage' ? 'active' : ''} `)
					a(class=`nav-link fBold ` href="../kiv/kiv.html") Kiv 
						span.sr-only (current)
				li(class=`nav-item ${pageTitle === 'BejoPage' ? 'active' : ''} `)
					a(class=`nav-link fBold ` href="../bejo/bejo.html") Bejo
				li(class=`nav-item ${pageTitle === 'TeslaPage' ? 'active' : ''} `)
					a(class=`nav-link fBold ` href="../tesla/tesla.html") Tesla
				li(class=`nav-item ${pageTitle === 'FerrariPage' ? 'active' : ''} `)
					a(class=`nav-link fBold ` href="../ferrari/ferrari.html") Ferrari
				li(class=`nav-item ${pageTitle === 'CardsPage' ? 'openCard' : ''} `)
					a(class=`nav-link fBold ${pageTitle === 'CardsPage' ? 'open-word' : ''}` href="#") Cards
				li(class=`nav-item ${pageTitle === 'ContactPage' ? 'active' : ''} `)
					a(class=`nav-link fBold  ` href="../contact/contact.html") Contact Us

				//- li.nav-item.dropdown
				//- 	a(class="nav-link Upper fBold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
				//- 		Dropdown
				//- 	div(class="dropdown-menu" aria-labelledby="navbarDropdown")
				//- 		a(class="dropdown-item" href="#") Action
				//- 		a(class="dropdown-item" href="#") Another action
				//- 		div.dropdown-divider
				//- 		a(class="dropdown-item" href="#") Something else here
//- Start Navbar

//- .page-head
//- 	h1.page-title #{pageTitle}
//- 	p.page-desc.lead This Is Description Of #{pageTitle}